<div class="wrapper">
  <div class="form-container">

    <mat-form-field>
      <input required value="" matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field>
      <mat-select matNativeControl required placeholder="Moderators" value="Moderators">
        <mat-option *ngFor="let user of chatroom_users" (click)="onModeratorAdded(user)">
          {{ user.username }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select matNativeControl required placeholder="Users" value="Users">
        <mat-option *ngFor="let user of allUsers$ | async" value="Users" (click)="onUserAdded(user)">
          {{ user.username }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="submit-button">
      <button
      disabled="true"
      mat-raised-button color="primary"
      (click)="createChatroom()"
      >Submit
    </button>
  </div>
</div>
</div>

<div class="chatroom__users">
  <div class="heading">
    <h2>Users</h2>
  </div>
  <button mat-raised-button color="accent" *ngFor="let user of chatroom_users" class="chatroom__users__button">
    {{ user.username }}
    <mat-icon (click)="removeUser(user)">
      clear
    </mat-icon>
  </button>
  <p *ngIf="userError">Cannot remove yourself from users   list.</p>
</div>

<div class="chatroom__moderators">
  <div class="heading">
    <h2>Moderators</h2>
  </div>
  <button mat-raised-button color="accent" *ngFor="let user of moderators" class="chatroom__users__button">
    {{ user.username }}
    <mat-icon (click)="removeModerator(user)">
      clear
    </mat-icon>
  </button>
  <p *ngIf="moderatorError">Cannot remove yourself from moderator list.</p>
</div>
