.wrapper{
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container > * {
    width: 100%;
}

.chatroom__moderators {
  width: 100%;
  padding: 16px;
}

.chatroom__users{
  width: 100%;
  padding: 16px;
}

.chatroom__users__button {
  margin-right: 16px;
  margin-top: 8px;
}

.heading {
  align-items: center;
}
