<div class="form-container">
  <mat-form-field>
    <input [(ngModel)]="searchText" matInput placeholder="Search for users..." (input)="filterUser()">
  </mat-form-field>
</div>
<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="32px"
  fxLayoutAlign="flex-start"
>
  <ng-container *ngFor="let user of allUsers$ | async">
    <div
      fxFlex="0 1 calc(25% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
      class="card"
    >
      <mat-card>
        <div>
          <mat-card-header>
            <mat-card-title><p>{{ user.username }}</p></mat-card-title>
          </mat-card-header>
        </div>
        <img mat-card-image src="{{ user.image }}" alt="Photo of a Shiba Inu">
        <mat-card-actions>
          <button mat-raised-button color="warn" *ngIf="(user$ | async) == null" mat-button>Login to chat!</button>
          <button mat-raised-button color="accent" *ngIf="user$ | async" mat-button>Message!</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
</div>
