<div class="wrapper">
  <div class="form-container">
    <mat-form-field>
      <input [disabled]="true" value="{{ currentUser?.name }}" matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field>
      <input [disabled]="true" value="{{ currentUser?.email }}" matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="changedUsername" value="{{ currentUser?.username }}" matInput placeholder="Username" #username="ngModel">
    </mat-form-field>
    <p *ngIf="invalidUsername()">Username should be less than 30 letter.</p>
    <p *ngIf="showUsernameTakenError">Username already taken!</p>

    <mat-form-field>
      <input [(ngModel)]="changedImage" value="{{ currentUser?.image }}" matInput placeholder="Photo url" #imageUrl="ngModel">
    </mat-form-field>
    <p *ngIf="invalidImageUrl()">Invalid image url</p>

  </div>
  <div class="submit-button">
      <button
        [disabled]="!isFormValid()"
        mat-raised-button color="primary"
        (click)="submit()"
      >Submit</button>
  </div>
  <div class="form-control">
    <div *ngIf="imageUrl.pristine; else defaultImage">
      <img src="{{ currentUser?.image }}"/>
    </div>
    <ng-template #defaultImage>
      <img *ngIf="invalidImageUrl( changedImage )" src="{{ changedImage }}"/>
    </ng-template>
  </div>
</div>
