<div class="wrapper">
  <div class="form-container">
    <mat-form-field>
      <input [disabled]="true" value="{{ (currentUser$ | async)?.name }}" matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field>
      <input [disabled]="true" value="{{ (currentUser$ | async)?.email }}" matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="changedUsername" value="{{ (currentUser$ | async)?.username }}" matInput placeholder="Username" #username="ngModel">
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="changedImage" value="{{ (currentUser$ | async)?.image }}" matInput placeholder="Photo url" #imageUrl="ngModel">
    </mat-form-field>

  </div>
  <div class="submit-button">
    <p *ngIf="showErrorMessage" class="error">Invaild form details!</p>
      <button
        [disabled]="( !imageUrl.pristine || !username.pristine ) ? false : true"
        mat-raised-button color="primary"
        (click)="saveData( changedImage )"
      >Submit</button>
  </div>
  <div class="form-control">
    <div *ngIf="imageUrl.pristine; else defaultImage">
      <img src="{{ (currentUser$ | async)?.image }}"/>
    </div>
    <ng-template #defaultImage>
      <img *ngIf="checkImageUrl( changedImage )" src="{{ changedImage }}"/>
      <h3 *ngIf="!checkImageUrl( changedImage )">Invalid image Url</h3>
    </ng-template>
  </div>
</div>
